@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body{
    background-image: url(/pages/Desktop.svg);
    font-family: 'Poppins';
}
.div{
    margin-left: 165px;
    display: flex;
    margin-bottom: 40px;
}
.div__div1{
    padding-top: 290px;
}
.div1__h1{
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
    line-height: 55px;
}
.div1__p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    padding-top: 11px;
}
.div2__button{
    cursor: pointer;
    width: 540px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background: #5E54A4;
    box-shadow: 0px 8px 0px 0px #00000025;
    margin-top: 121px;
    margin-left: 45px;
}

.div__div3{
    width: 540px;
    height: 474px;
    margin-left: 45px;
    margin-top: 24px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.div2__p1{
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    color: #FFFFFF;
}
.div2__span{
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
}
.div3__input1{
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    padding-left: 32px ;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 5px;
    width: 460px;
    height: 56px;
    border: 1px solid #DEDEDE;
    margin-top: 20px;
}
.div3__input1:focus{
    cursor: pointer;
    outline: none;
    border: 1px solid #5E54A4;
}
.div3__input1:hover{
    border: 1px solid #5E54A4
}
.div3__input1:active{
    border: 1px solid #5E54A4;
}
.div3__button{
    cursor: pointer;
    width: 460px;
    height: 56px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background: #38CC8B;
    box-shadow: 0px -4px 0px 0px #00000017 inset;
}
.button__span{
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
}
.span{
    color: #BAB7D4;
    font-weight: 500;
    font-size: 11px;
    margin-left: 86px;
}
.p{
    color: red;
    font-weight: 500;
    font-size: 11px;
}